:root {
    font-family: sans-serif;
    --color1: rgb(16, 185, 115);
    --color2: rgb(12, 176, 205);
    --color3: rgb(0, 82, 205);
}

/* Sidebar Styling */
#side-bar {
    position: fixed; /* Fixed sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100px; /* Sidebar width */
    height: 100vh; /* Full height of the screen */
    background: linear-gradient(225deg,
                                var(--color1),
                                var(--color2),
                                var(--color3));
    z-index: 10; /* Ensure sidebar stays above content */
    padding-top: 75px; /* Space for the icons */
}

/* Icons inside the sidebar */
.fa {
    transform: scale(2.75);
    margin-bottom: 50px; /* Spacing between icons */
    color: white;
    cursor: pointer;
}

/* Body - Flexbox Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least full height */
}

/* Main Content Styling */
main {
    margin-left: 120px; /* Push content to the right of the sidebar */
    padding: 20px;
    flex: 1; /* Allow the main content to grow and push footer down */
    overflow: auto; /* Allow scrolling if content overflows */
}

/* Home page */
#home-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Header on the home page */
#plot-header {
    color: var(--color2);
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Plot container styling */
.plot-container {
    width: 700px;
    height: 400px;
    border: none;
    box-shadow: 3px 4px 10px grey;
    border-radius: 20px;
    margin-bottom: 50px;
}

/* Button container on the home page */
#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Button styling */
button {
    background: linear-gradient(235deg,
                                var(--color1) 20%,
                                var(--color2) 50%,
                                var(--color3)) 70%;
    background-size: 200%;
    background-position: 50%;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 4px 6px grey;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    margin: 0 60px;
    transition-duration: background-position 4s;
}

button:hover {
    background-position: 100% 0;
}

/* Footer Styling */
footer {
    margin-top: auto; /* Push the footer to the bottom */
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px 30px;;
    color: #555;
    width: calc(100% - 0px); 
    position: relative;
}


