/* Blood Pressure and Pulse Container Styling */
#recorder-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}

#time-date{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#recorder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.plot-container {
    width: 100%;
    max-width: 500px;  /* Set a max-width to avoid stretching */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Add space between elements (blood pressure and pulse) */
}

.label {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    display: block;
    margin-bottom: 10px;
}

/* Blood Pressure Styling */
#blood-pressure {
    font-size: 30px;
    font-weight: bold;
    color: #2a2a2a; /* Darker color for better readability */
    margin-top: 30px;
    background-color: #eaf0f3; /* Light blue background */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    letter-spacing: 1px;
    line-height: 1.5;
}

/* Systolic and Diastolic Styling */
#Sys-pressure, #Dia-pressure {
    font-size: 50px; /* Larger font size for systolic/diastolic readings */
    font-weight: bold;
    color: #2a2a2a;
}

/* Pulse Styling */
#Pulse {
    font-size: 30px;
    font-weight: bold;
    color: #2a2a2a;
    margin-top: 40px;
    background-color: #f9f9f9; /* Light gray background */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.pulse-value {
    font-size: 50px; /* Larger font for pulse */
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
}

/* Button Container Styling */
#button-container {
    margin-top: 40px;
}

button:hover {
    background-color: #007bff;
    color: white;
}


.popup {
    display: none;  /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 1000;  /* Ensure the popup is above other content */
}

.popup-content {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
